[submodule "tests/lib"]
	path = tests/lib
	url = git@github.com:jasonheecs/BashScriptTestingLibrary.git
[submodule ".janus/vim"]
	path = .janus/vim
	url = git@github.com:dracula/vim.git
[submodule ".janus/jellygrass.vim"]
	path = .janus/jellygrass.vim
	url = git@github.com:chr4/jellygrass.vim.git
[submodule ".janus/vim-kolor"]
	path = .janus/vim-kolor
	url = git@github.com:zeis/vim-kolor.git
